.container{
    padding: 20px 10px;
}
.heading{
    line-height: 19.07px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
}
.save {
  width: 100%;
  border-radius: 12px;
  background-color: rgba(23, 162, 184, 1);
  padding: 10px 70px;
  font-size: 16px;
}

.cancel {
  width: 100%;
  border-radius: 12px;
  padding: 10px 70px;
  font-size: 16px;
  box-shadow: 0px 2px 12px 0px rgba(130, 105, 140, 0.2);
  border: 1px solid rgba(207, 54, 54, 1);
  color: rgba(207, 54, 54, 1);
  margin-right: 20px;
  margin-top: 10px;
}
